{%extends "recetas/base.html"%}
{% block contenido%} 
    <h1> <p style="color:rgb(130, 198, 238);"> Soy Campeón Mundial </p></h1>
    <h5> <p style="color:black;"> Hola a todos, mi nombre es Lucas Gómez y con los conocimientos que adquirir en Coder hause realice esta blog de la selccion Argentina </p></h5>
      
    <h8> <p> Soy Lucas Tagliapietra y estoy iniciando mi camino en la programacion </p></h8>
    
    <h8> <p> Coder House fue una magnifica opcion para comenzar, me dio una libertad horaria para poder seguir trabajando con normalidad y con buenos docentes  </p></h8>
    <h8> <p> Desde muchas gracias a los profesores y tutores.  </p></h8>

    




{% endblock %}