{% extends "recetas/base.html" %}
{% block contenido%} 
    <h1> <p style="color:rgb(130, 198, 238);"> Bienvenidos a Recetas</p></h1>
    <h5> <p style="color:black;"> Hola, me gusta la reposteria y cree esta pagina por mi amor a ello </p></h5>
      
    <h8> <p> Soy Lucas Tagliapietra y estoy iniciando mi camino en la programacion </p></h8>
    
    <h8> <p> Coder House fue una magnifica opcion para comenzar, me dio una libertad horaria para poder seguir trabajando con normalidad y con buenos docentes  </p></h8>
    <h8> <p> Desde muchas gracias a los profesores y tutores.  </p></h8>

    




{% endblock %}